@import url("https://api.fontshare.com/v2/css?f=satoshi@500,300,400&f=cabinet-grotesk@400,200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply text-skin-500 rounded-lg mt-2 border border-skin-500 hover:bg-skin-800 hover:text-skin-100 hover:gap-6 transition-all ease-linear;
  }
  .textured {
    @apply bg-body-texture bg-opacity-5 bg-cover;
  }
  .tooltip {
    @apply absolute -top-2 py-1 px-2 rounded-md bg-skin-800 text-skin-100  opacity-0 group-hover:opacity-100  transition-all ease-linear;
  }
}

#root {
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

.animate {
  animation: text-animation 5s ease infinite;
}
@keyframes text-animation {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
